html {
    background: #018DED url("background.jpg");
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 2em;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid black;
	background: rgba(150,150,150,0.8);
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
        0 0 0 4px rgba(0,0,0,0.1),
        inset 0 0 0 3px rgba(244,212,66,0.8),
        inset 0 0 10px black,
        0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
    width: 50%;
    top: 50%;
	height: 6px;
    background: black;
    position: absolute;
	transform: rotate(90deg);
	transform-origin: 100%;
	transition: all 0.5s;
}

.second-hand {
	height: 3px;
}

.number {
	color: white;
	z-index: -1;
}

.number-1 {
	height: 6px;
    position: absolute;
    top: 2%;
	left: 70%;
	font-size: 2em;
}

.number-2 {
	height: 6px;
    position: absolute;
    top: 20%;
	left: 88%;
	font-size: 2em;
}

.number-3 {
	height: 6px;
    position: absolute;
    top: 43%;
	left: 95%;
	font-size: 2em;
}

.number-4 {
	height: 6px;
    position: absolute;
    top: 67%;
	left: 88%;
	font-size: 2em;
}

.number-5 {
	height: 6px;
    position: absolute;
    top: 85%;
	left: 71%;
	font-size: 2em;
}

.number-6 {
	height: 6px;
    position: absolute;
    top: 91%;
	left: 47%;
	font-size: 2em;
}

.number-7 {
	height: 6px;
    position: absolute;
    top: 85%;
	left: 23%;
	font-size: 2em;
}

.number-8 {
	height: 6px;
    position: absolute;
    top: 67%;
	left: 6%;
	font-size: 2em;
}

.number-9 {
	height: 6px;
    position: absolute;
    top: 43%;
	left: 0%;
	font-size: 2em;
}

.number-10 {
	height: 6px;
    position: absolute;
    top: 20%;
	left: 6%;
	font-size: 2em;
}

.number-11 {
	height: 6px;
    position: absolute;
    top: 2%;
	left: 23%;
	font-size: 2em;
}

.number-12 {
	height: 6px;
    position: absolute;
    top: -3%;
	left: 43%;
	font-size: 2em;
}